includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app
        - tests

    level: 5

    ignoreErrors:


    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    reportUnmatchedIgnoredErrors: true
